.banner {
  position: relative;
  background-color: #f3efec;
  background-image: url("../img/bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%, auto;
  min-height: 232px;
  width: 100%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-mobile@2x.jpg");
  }
}

.banner__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 40px;
}

.banner__address {
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  color: #777b80;
  background-color: #ffffff;
  padding: 12px 26px 0 24px;
}

.banner__object {
  font-size: 26px;
  line-height: 20px;
  font-weight: bold;
  color: #414141;
  background-color: #ffffff;
  padding: 11px 30px 0 24px;
}

@media (min-width: $tablet-width) {
  .banner {
    background-image: url("../img/bg-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-tablet@2x.jpg");
    }
  }

  .banner__address {
    font-size: 18px;
    line-height: 16px;
    font-weight: bold;
    color: #777b80;
    background-color: #ffffff;
    padding: 11px 26px 4px 24px;
  }

  .banner__object {
    font-size: 32px;
    line-height: 26px;
    padding: 14px 22px 0 24px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    background-image: url("../img/bg-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-desktop@2x.jpg");
    }
  }

  .banner__description {
    left: 92px;
  }

  .banner__address {
    padding: 13px 24px 0 18px;
  }

  .banner__object {
    font-size: 48px;
    line-height: 42px;
    padding: 15px 32px 4px 20px;
  }
}
