.call-back {
  display: flex;
  align-items: center;
  margin-right: 55px;
  margin-left: auto;
}

// меняет выравнивание элемента при открытии меню
.call-back--left-align {
  margin-left: 0;
}

.call-back__phone {
  margin-right: 8px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.call-back__icon {
  border: none;
  font-size: 0;
  background-color: inherit;
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .call-back {
    margin-right: 65px;
  }
}

@media (min-width: $desktop-width) {
  .call-back {
    margin-right: 10px;
    margin-left: 25px;
  }
}
