.comparing {
  position: relative;
  background-color: inherit;
  background-image: url("../img/icon-compare.png");
  background-repeat: no-repeat;
  background-size: 27px 18px;
  padding-left: 48px;
  font-size: 24px;
  line-height: 20px;
  text-decoration: none;
  color: $menu-color;
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 40px;
}

.comparing__count {
  position: absolute;
  top: -15px;
  left: 12px;
  border-radius: 50%;
  background-color: $menu-color;
  width: 22px;
  height: 22px;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.comparing--hide {
  display: none;
}

@media (min-width: $desktop-width) {
  .comparing--hide {
    display: flex;
  }

  .comparing {
    background-size: 18px 13px;
    background-position: left center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    color: $menu-color;
    padding-left: 27px;
  }

  .comparing__count {
    transform: scale(0.8);
    top: -10px;
    left: 5px;
  }
}
