.main-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-bottom: 21px;
}

.main-address__phone {
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
  color: #424242;
  margin-bottom: 20px;
}

.main-address__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #424242;
  margin-bottom: 20px;
}

.main-address__email {
  font-size: 16px;
  line-height: 18px;
  color: $menu-color;
  text-decoration: none;
}


@media (min-width: $tablet-width) {
  .main-address {
    width: 335px;
    flex-shrink: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-address {
    width: 494px;
    align-items: flex-start;
    padding-left: 100px;
  }
  .main-address__phone {
    margin-bottom: 15px;
  }

  .main-address__text {
    margin-bottom: 3px;
    padding-left: 3px;
  }

  .main-address__email {
    font-size: 14px;
    padding-left: 3px;
  }
}
