.menu-btn {
  position: absolute;
  top: 35px;
  right: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
  height: 24px;
  font-size: 0;
}

.menu-btn--open {
  background-image: url("../img/icon-menu-open.png");
  background-repeat: no-repeat;
  background-size: 32px 21px;
}

.menu-btn--close {
  background-image: url("../img/icon-menu-close.png");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: top center;
}

@media (min-width: $desktop-width) {
  .menu-btn {
    display: none;
  }
}
