.notification {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #edeeee;
  border-radius: 10px;
  margin-top: 32px;
  padding: 23px 23px 21px;
}

.notification__date {
  //min-width: 77px;
  background-color: #edeeee;
  font-size: 16px;
  line-height: 14px;
  padding: 5px;
  border-radius: 3px;
}

.notification__title {
  margin: 19px 0 0 0;
  width: 464px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.notification__text {
  margin-top: 9px;
  margin-bottom: 4px;
  font-family: "Vida Pro";
  font-size: 16px;
  line-height: 24px;
  width: 464px;
}

.notification__open-text {
  position: absolute;
  top: 45px;
  right: 23px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.notification__open-img {
  fill: transparent;
  stroke: grey;
  stroke-width: 25px;
  transform: rotate(90deg);
}

@media (min-width: $tablet-width) {
  .notification__title {
    width: 592px;
  }

  .notification__text {
    width: 592px;
  }

  .notification__text {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .notification:first-of-type {
    padding-bottom: 46px;
  }

  .notification {
    margin-top: 0;
    margin-bottom: 24px;
    padding-bottom: 23px;
  }

  .notification__title {
    width: 826px;
  }

  .notification__text {
    width: 745px;
    margin-bottom: 5px;
  }
}
