.page-header {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 18px 40px 0;
}

.page-header--nav-hide {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
