.social-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.social-buttons__item {
  font-size: 0;
  padding-right: 22px;
}

@media (min-width: $desktop-width) {
  .social-buttons {
    margin-left: 9px;
    margin-bottom: 30px;
  }
}
