.user-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-nav--hide {
  display: none;
}

@media (min-width: $desktop-width) {
  .user-nav {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}
