.vertical-nav {
  display: none;
}

.vertical-nav__item {
  text-decoration: none;
  color: $menu-color;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

@media (min-width: $desktop-width) {
  .vertical-nav {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-top: 6px;
    margin-bottom: 28px;
  }

  .vertical-nav__item {
    text-decoration: none;
    color: $menu-color;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 39px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}
