@font-face {
  font-family: "Vida Pro";
  src: url("../fonts/vida31pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vida Pro";
  src: url("../fonts/vida33pro.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$desktop-width: 1440px;
$tablet-width: 768px;
$smart-width: 640px;
$menu-color: #893b67;

html {
  box-sizing: border-box;
  min-width: $smart-width;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Vida Pro", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

@import "blocks/content-area";
@import "blocks/page-header";
@import "blocks/main-logo";
@import "blocks/site-nav";
@import "blocks/user-nav";
@import "blocks/comparing";
@import "blocks/user-login";
@import "blocks/call-back";
@import "blocks/menu-btn";
@import "blocks/banner";
@import "blocks/main-content";
@import "blocks/vertical-nav";
@import "blocks/side-bar";
@import "blocks/notice";
@import "blocks/objects-list";
@import "blocks/object-item";
@import "blocks/notifications-list";
@import "blocks/notification";
@import "blocks/news-list";
@import "blocks/news-item";
@import "blocks/page-footer";
@import "blocks/main-address";
@import "blocks/social-buttons";
@import "blocks/partition-nav";

.visible-hidden {
  display: none;
}
